.inputHolder {
    display: grid;
    grid-template-areas: 
    "one"
    "error";
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 100%;
    /* border: 2px solid black; */
}

.dot {
    background-color: var(--colorText);
    height: 50px;
    width: 50px;
    border-radius: 100%;
    grid-area: one;
    cursor: pointer;
    z-index: 2;
}

.input {
    height: 50px;
    width: 50px;
    background-color: var(--colorText);
    color: var(--colorBg);
    border-radius: 25px;
    width: 0px;
    grid-area: one;
    z-index: 4;
    padding-left: 20px;
    display: flex;
    align-items: center;
    
}

.inputField {
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 9px;
    color: var(--colorBg);
}

.input button {
    position: relative;
    left: 0px;
    cursor: pointer;
    background-color: var(--colorBg);
    color: var(--colorText);
}

.input button:active {
    background-color: red;
}

.input svg {
    transform: rotate(90deg);
    width: 12px;
}

.errorMessage {
    /* grid-area: error; */
    text-align: center;
    background-color: var(--colorBg);
    color: var(--colorText);
    padding: 8px;
    z-index: 15;
    position: absolute;
    top: 50px;
    box-shadow: var(--colorText) 3px 3px;

}

.errorMessage span {
    font-weight: bold;
}