/* Leave this */
.inputHolder {
    display: grid;
    grid-template-areas: 
    "one"
    "error";
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 100%;
    
}

.dot {
    background-color: var(--colorInputBg);
    height: 50px;
    width: 50px;
    border-radius: 100%;
    grid-area: one;
    cursor: pointer;
    z-index: 2;
    border: 2px solid var(--colorInputBorders);
}

.input {
    height: 50px;
    width: 50px;
    background-color: var(--colorInputBg);
    color: var(--colorCommands);
    border-radius: 25px;
    width: 0px;
    grid-area: one;
    z-index: 4;
    padding-left: 20px;
    display: flex;
    align-items: center;
    border: 2px solid var(--colorInputBorders);
}

.inputField {
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 9px;
    color: var(--colorCommands);
}


.input button {
    /* position: relative; */
    /* left: 0px; */
    cursor: pointer;
    background-color: var(--colorBg);
    color: var(--colorText);
}

.input button:active {
    background-color: red;
}

.input svg {
    transform: rotate(90deg);
    width: 12px;
}
