/* Leave this */
.inputHolder {
    display: grid;
    grid-template-areas: 
    "one"
    "error";
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 100%;
    
}

.dot {
    background-color: var(--colorInputBg);
    height: 50px;
    width: 50px;
    border-radius: 100%;
    grid-area: one;
    cursor: pointer;
    z-index: 2;
    border: 2px solid var(--colorInputBorders);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--colorCommands);
}

.dotCircle {
    background-color: transparent;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    grid-area: one;
    cursor: pointer;
    z-index: 2;
    border: 2px solid var(--colorInputBorders);
}

.input {
    height: 50px;
    width: 50px;
    background-color: var(--colorInputBg);
    color: var(--colorCommands);
    border-radius: 25px;
    width: 0px;
    grid-area: one;
    z-index: 4;
    padding-left: 20px;
    display: flex;
    align-items: center;
    border: 2px solid var(--colorInputBorders);
}

.inputField {
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 9px;
    color: var(--colorCommands);
}

.input button {
    padding: 2px;
    cursor: pointer;
    background-color: var(--colorCommands);
    color: var(--colorInputBg);
}

.input button:active {
    background-color: var(--colorEnterRed);
    color: var(--colorBg);
    position: relative;
    top: 2px;
    left: 2px;
}

.input svg {
    transform: rotate(90deg);
    width: 12px;
}
