/* Leave this */
.container {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    background-color: var(--colorBg);
    
}

.header {
    display: flex;
    width: 100%;
    border-bottom: 2px solid black;
    padding: 20px;
    background-color: grey;
    position: fixed;
    top: 0;
    min-height: 75px;
}

.container main {
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
}

.container h1 {
    text-align: center;
}

.elementsHolder {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    min-height: 75px;
    padding: 0 20px;
}

.commandHolder {
    max-width: 100%;
    /* margin: 0 auto; */
}

.hintsHolder {
    position: absolute;
    top: 73px;
    right: 0px;
    padding: 20px;
    background-color: var(--colorBg);
    color: var(--colorText);
    border: 2px solid var(--colorText);
    transition: all 200ms;
}