/* Leave this */
.container {
    /* background-color: var(--colorText); */
    margin-top: 20px;
    min-width: 100%;
    border: 2px solid var(--colorBorders);
    border-radius: 25px;
    box-shadow: var(--colorText) 5px 5px;
    /* border: 2px solid gold; */
}

.content {
    display: flex;
    align-items: center;
    padding: 20px;
    height: 100%;

}

.logo {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}

.logo img {

    width: 100%;
    height: auto;
}

.textContent {
    padding: 0 20px;
    max-width: 400px;
    flex-shrink: 1;
}

@media screen and (min-width: 768px) {
    .container {
        min-height: 200px;
        min-width: 0;
        max-width: 50%;
    }
}