:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
font-size: 16px;

  /* dark colors */
  --mainDarkPurple: #292d3e;
  --darkRed: #FF5874;
  --darkYellow: #ffcb6b;
  --darkGreen: #c3e88d;
  --darkPurple: #c792ea;
  --darkBlue: #82aaff;
  --darkLightBlue: #89ddff;
  --darkGray: #bfc7d5;
  --darkOrange: #f78c6c;
  --darkDarkPurple: #292d3e;
  --darkBloen: #80cbc4;

  /* light colors */
--lightDarkPurple: var(--darkDarkPurple);
--lightGray: #ebeef5;
--lightBloen1: #00bec4;
--lightDarkGray: #5d5d5f;
--lightPurple: #7c4dff;
--lightPurple2: #c57bdb;
--lightYellow: #f0aa0b;
--lightRed: #cd6069;
--lightOrange: #ff6d12;
--lightBlue: #437aed;

  /* new light colors */
  --lightDarkPurple: var(--darkDarkPurple);
  --lightGray: #ebeef5;
  --lightBloen: var(--darkBloen);
  --lightDarkGray: #5d5d5f;
  --lightPurple: #7c4dff;
  --lightPurple2: #c57bdb;
  --lightYellow: #f0aa0b;
  --lightRed: #cd6069;
  --lightOrange: #ff6d12;
  --lightBlue: #437aed;

  /* tokyo night light */
  --lightDarkPurple: var(--darkDarkPurple);
  --lightGray: #d5d6db;
  /* --lightBloen: #166775;
  --lightDarkGray: #5d5d5f;
  --lightPurple: #5a4a78;
  --lightPurple2: #5a4a78;
  --lightYellow: #8f5e15;
  --lightRed: #b05467;
  --lightOrange: #965027;
  --lightBlue: #437aed; */

/* Theme variables (light) */
--lightBg: var(--lightGray);
--lightHeaderBg: var(--lightBloen1);
--lightInputBg: var(--lightDarkPurple);
--lightText: var(--lightDarkGray);
--lightH1: var(--lightBloen1);
--lightH2: var(--lightYellow);
--lightH3: var(--lightOrange);
--lightA: var(--lightRed);
--lightBorders: var(--lightDarkGray);
--lightInputBorders: var(--lightBloen);
--lightCommands: var(--lightYellow);
--lightEnterRed: var(--lightOrange);
--lightBolds: var(--lightBloen1);
--lightItalics: var(--lightPurple2);
--lightSelection: var(--lightBloen);

/* Theme variables (dark) */
--darkBg: var(--darkDarkPurple);
--darkHeaderBg: var(--darkBlue);
--darkInputBg: var(--darkDarkPurple);
--darkText: var(--darkGray);
--darkH1: var(--darkYellow);
--darkH2: var(--darkGreen);
--darkH3: var(--darkOrange);
--darkA: var(--darkRed);
--darkBorders: var(--darkGray);
--darkInputBorders: var(--darkBlue);
--darkCommands: var(--darkYellow);
--darkEnterRed: var(--darkOrange);
--darkBolds: var(--lightBloen1);
--darkItalics: var(--darkPurple);
--darkSelection: var(--darkBloen);

/* Theme variables (to use in all modules, set to dark Theme) */
--colorBg: var(--darkBg);
--colorHeaderBg: var(--darkHeaderBg);
--colorInputBg: var(--darkInputBg);
--colorText: var(--darkText);
--colorH1: var(--darkH1);
--colorH2: var(--darkH2);
--colorH3: var(--darkH3);
--colorA: var(--darkA);
--colorBorders: var(--darkBorders);
--colorInputBorders: var(--darkInputBorders);
--colorCommands: var(--darkCommands);
--colorEnterRed: var(--darkEnterRed);
--colorBolds: var(--darkBolds);
--colorItalics: var(--darkItalics);
--colorSelection: var(--darkSelection);

background-color: var(--colorBg);

--currentHeaderBg: var(--darkHeaderBg);

}

@media (prefers-color-scheme: dark) {
  :root {
    --colorBg:var(--mainDarkPurple);
    --colorText: white;
}
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

::selection {
  background-color: var(--colorSelection);
  color:var(--colorCommands);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-mono);
  border-color: var(--colorBorders);
}


a {
  color: var(--colorA);
  text-decoration: none;
}

h1 {
  color: var(--colorH1);
}

h2 {
  color: var(--colorH2);
}

h3 {
  color: var(--colorH3);
} 

b {
  color: var(--colorBolds);
}

i {
  color: var(--colorItalics);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
