:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;


  /* dark colors */
  --mainDarkPurple: #292d3e;
  --darkRed: #FF5874;
  --darkYellow: #ffcb6b;
  --darkGreen: #c3e88d;
  --darkPurple: #c792ea;
  --darkBlue: #82aaff;
  --darkLightBlue: #89ddff;
  --darkGray: #bfc7d5;
  --darkOrange: #f78c6c;
  --darkDarkPurple: #292d3e;
  --darkBloen: #80cbc4;

  /* light colors */
--lightDarkPurple: var(--darkDarkPurple);
--lightGray: #ebeef5;
--lightBloen: #00bec4;
--lightDarkGray: #5d5d5f;
--lightPurple: #7c4dff;
--lightPurple2: #c57bdb;
--lightYellow: #f0aa0b;
--lightRed: #cd6069;
--lightOrange: #ff6d12;
--lightBlue: #437aed;

/* Theme variables (light) */
--lightBg: var(--lightGray);
--lightHeaderBg: var(--lightBloen);
--lightInputBg: var(--lightDarkPurple);
--lightText: var(--lightDarkGray);
--lightH1: var(--lightBloen);
--lightBorders: var(--lightDarkGray);
--lightInputBorders: var(--lightBloen);
--lightCommands: var(--lightYellow);
--lightEnterRed: var(--lightOrange);
--lightBolds: var(--lightBloen);
--lightItalics: var(--lightPurple2);

/* Theme variables (dark) */
--darkBg: var(--darkDarkPurple);
--darkHeaderBg: var(--darkBlue);
--darkInputBg: var(--darkDarkPurple);
--darkText: var(--darkGray);
--darkH1: var(--darkYellow);
--darkBorders: var(--darkGray);
--darkInputBorders: var(--darkBlue);
--darkCommands: var(--darkYellow);
--darkEnterRed: var(--darkOrange);
--darkBolds: var(--lightBloen);
--darkItalics: var(--darkPurple);

/* Theme variables (to use in all modules, set to light Theme) */
--colorBg: var(--lightBg);
--colorHeaderBg: var(--lightHeaderBg);
--colorInputBg: var(--lightInputBg);
--colorText: var(--lightText);
--colorH1: var(--lightH1);
--colorBorders: var(--lightBorders);
--colorInputBorders: var(--lightInputBorders);
--colorCommands: var(--lightCommands);
--colorEnterRed: var(--lightEnterRed);
--colorBolds: var(--lightBolds);
--colorItalics: var(--lightItalics);


  background-color: var(--colorBg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --colorBg:var(--mainDarkPurple);
    --colorText: white;
}
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-mono);
  border-color: var(--colorBorders);
}


a {
  color: inherit;
  text-decoration: none;
}

h1 {
  color: var(--colorH1);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
