.container {
    display: flex;
    margin-top: 92px;
    width: 100%;
    background-color: var(--colorBg);
    height: 100%;
    min-height: calc(100vh - 112px);
    padding: 20px;
    padding-bottom: 0;
}

.sectionContent {
    background-color: #292D3E;
    color: white;
    width: 100%;
    min-height: calc(100vh - 112px);
    border: 2px solid white;
    border-bottom: none;
    padding: 20px;
}