.readMeContainer h1, .readMeContainer h2, .readMeContainer h3 {
    margin-top: 40px;
    text-align: left!important;
    padding-bottom: 20px;
}

.readMeContainer p {
    padding: 10px 0;
    line-height: 1.4em;
}

.readMeContainer ul {
    padding-left: 20px;
    line-height: 1.4em;
}

.readMeContainer img {
    max-width: 100%;
    height: auto;
}

.loadingReadMe {
    font-size: 16px;
    font-weight: normal;
    color: var(--colorText);
    margin-left: 10px;
}

@media screen and (min-width: 430px) {
    .loadingReadMe {
        margin-left: 0px;
    }
}

@media screen and (min-width: 768px) {
    .loadingReadMe {
        margin-left: -60px;
    }
}