.hintsHolder {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
    background-color: var(--mainDarkPurple);
    border: 2px solid var(--darkGray);
    color: var(--darkGray);
    padding: 2px;
    min-width: 50px;
    min-height: 50px;
}

.hintsHolderHome {
    border: none;
}

.hintsArrow {
    width: 15px;
    margin: 0 auto;
}

.hintsArrowVisible {
    margin: 20px 0 0 20px;
}

.hintLink {
    color: var(--colorCommands);
}


.hintsList {
    list-style-type: "> ";
    padding: 20px;
    width: 100%;

}

.hintsList p {
    margin-bottom:20px;
    
}

.hintsList p b {
    color: var(--darkYellow);
}

.hintsList p i {
    color: var(--darkPurple);
}

.hintsList ul {
    padding: 0 20px;
}

.hintsList li {
    list-style-type: "> ";
    color: var(--colorCommands);
}

.hintsListHolder {
   display: flex;
   flex-direction: column;
   margin-bottom: 20px;
}