/* Leave this */
.header {
    display: flex;
    width: 100%;
    border-bottom: 2px solid black;
    padding: 20px;
    background-color: grey;
    position: fixed;
    top: 0;
    min-height: 75px;
}

.elementsHolder {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    min-height: 75px;
    padding: 0 20px;
}

.commandHolder {
    max-width: 100%;
}

.hintsHolder {
    position: absolute;
    top: 73px;
    right: 0px;
    padding: 20px;
    background-color: var(--colorBg);
    color: var(--colorText);
    border: 2px solid var(--colorText);
    transition: all 200ms;
}