/* Leave this */


.header {
    display: flex;
    width: 100%;
    border-bottom: 2px solid black;
    padding: 20px;
    background-color: grey;
    position: fixed;
    top: 0;
    min-height: 75px;
}

.elementsHolder {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    min-height: 75px;
    padding: 0 20px;
    z-index: 10;
}



.commandHolder {
    max-width: 100%;
}

.theme {
    display: flex;
    width: 40px;
    justify-content: space-between;
}

.theme  {
    cursor:pointer;
    color: #292d3e;
}

.currentTheme {
    color: white;
}

.hintsHolder {
    position: absolute;
    top: 73px;
    right: 0px;
    /* padding: 20px; */
    /* background-color: var(--colorBg); */
    color: var(--colorText);
    /* border: 2px solid var(--colorText); */
}

@media screen and (max-width: 492px) {
    .header {
        height: 150px;
    }
    
    .elementsHolder {
        /* display: flex; */
        /* flex-direction: column;
        align-items: flex-start;
        align-content: flex-start; */
        /* gap: 20px; */

        display: grid;
        width: 100%;
        grid-template-areas: 
        "logo theme"
        "command command"
        "hints .";
        justify-content: space-between;
        justify-items: flex-start;
        padding: 20px;
        gap: 10px;
    }

    .logo {
        grid-area: logo;
    }
    .commandHolder {
        grid-area: command;
    }

    .theme {
        grid-area: theme;
    }

    .hintsHolder {
        position:static;
        grid-area: hints;
    }
}