/* Leave this */
.dot {
    background-color: var(--colorBg);
    height: 50px;
    width: 50px;
    border-radius: 100%;
    z-index: 200;
    position: absolute;
    top: calc(50% - 50px);
    right: calc(50% - 50px);
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--colorText);
    border: 2px solid var(--colorText);
}