/* Leave this */
.errorMessage {
    text-align: center;
    background-color: var(--colorBg);
    color: var(--colorText);
    padding: 8px;
    z-index: 15;
    position: absolute;
    top: 50px;
    box-shadow: var(--colorEnterRed) 3px 3px;
}

.errorMessage span {
    font-weight: bold;
    color: var(--colorCommands);
}