.theme {
    display: flex;
    width: 60px;
    justify-content: space-between;
    /* position:absolute;
    top: 0;
    right: 10px; */
    background-color: gray;
    border-radius: 25px;
    padding: 8px;
}

.theme  {
    cursor:pointer;
    color: #292d3e;
}

.currentTheme {
    color: white;
}