.theme {
    display: flex;
    width: 80px;
    justify-content: space-between;
}

.theme  {
    cursor:pointer;
}

.theme * {
    transition: all 400ms;
}

.inActiveTheme {
    box-shadow: var(--colorBg) 1px 5px;
    position: relative;
    top: -2px;
    left: -5px;
    color: var(--colorBg);
    background-color: var(--colorInputBg);
    border: 2px solid var(--colorText);
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 100%;
}

.currentTheme {
    color: var(--colorCommands);
    background-color: var(--colorBg);
    position: relative;
    top: 1px;
    left: 0;
    width: 20px;
    height: 20px;
    padding: 5px;
    border: 2px solid var(--colorBg);
    border-radius: 100%;
}